#!/bin/bash

#echo 'Loaded some aliases'

# Quick launch menu.py script
alias menu='cd Compute && python -m menu; cd ..'

# Quick launch toMNE.py script
alias convert='cd Compute && python -m makedata.toMNE; cd ..'

# Launch t.py in a ipython shell
alias nb='cd Compute && ipython -i t.py; cd ..'
