#!.devenv/bash/bin/bash

# Quick launch menu.py script
alias menu='kitty -d $HOME/nlin-EEG/Compute -e python -m menu & disown'

# Special terminal base function and alias
kitty_mine () {
  kitty -d $HOME/nlin-EEG/Compute sh -c "$*" & disown
}
alias kitty=kitty_mine

# Launch menu in special window
menu () {
  kitty_mine python -m menu & disown
}

# Open file in special terminal
micro_mine () {
  kitty_mine micro $1 & disown
}
alias micro=micro_mine

# Open makedata module for edit and convert on close
convert_mine () {
  kitty_mine "micro makedata/toMNE.py ; python -m makedata.toMNE" & disown
}
alias convert=convert_mine

# Launch snippet in special terminal
nb () {
  kitty_mine ipython -i snippets/setup.py -- "$1" & disown
}

