#!.devenv/bash/bin/bash

#echo 'Loaded some aliases'

# Quick launch menu.py script
alias menu='kitty -d $HOME/nlin-EEG/Compute -e python -m menu'

# Quick launch toMNE.py script
alias convert='kitty -d $HOME/nlin-EEG/Compute -e python -m makedata.toMNE;'

# Launch t.py in a ipython shell
alias nb='kitty -d $HOME/nlin-EEG/Compute -e ipython -i t.py'

# Alias for kitty with local config
alias kitty='kitty -c $HOME/nlin-EEG/.home/kitty/kitty.conf'

# Alias for micro with correct colorscheme
alias micro='micro -colorscheme "cmc-16"'
